language: generic 
sudo: required
services:
  - docker

jobs:
  include:
    - stage: development build and test
      script:
        - docker build -t darthdamo/docker-complex-app -f ./client/Dockerfile.dev ./client
        - docker run -e CI=true darthdamo/docker-complex-app:latest npm test
    - stage: multi container build, tag and push to ACR
      script:
        - docker build -t darthdamo/multi-client ./client
        - docker build -t darthdamo/multi-nginx ./nginx
        - docker build -t darthdamo/multi-server ./server
        - docker build -t darthdamo/multi-worker ./worker
        - docker login damocontainerregistry01.azurecr.io -u "$AZ_CONTAINER_USERNAME" -p "$AZ_CONTAINER_PWD"
        - docker tag darthdamo/multi-client:latest damocontainerregistry01.azurecr.io/darthdamo/multi-client:latest
        - docker tag darthdamo/multi-nginx:latest damocontainerregistry01.azurecr.io/darthdamo/multi-nginx:latest        
        - docker tag darthdamo/multi-server:latest damocontainerregistry01.azurecr.io/darthdamo/multi-server:latest
        - docker tag darthdamo/multi-worker:latest damocontainerregistry01.azurecr.io/darthdamo/multi-worker:latest        
        - docker push damocontainerregistry01.azurecr.io/darthdamo/multi-client
        - docker push damocontainerregistry01.azurecr.io/darthdamo/multi-nginx
        - docker push damocontainerregistry01.azurecr.io/darthdamo/multi-server
        - docker push damocontainerregistry01.azurecr.io/darthdamo/multi-worker